:root{
  --primary-color:  #f5c518;
  --secondary-color: #8e8e8e;
  --mainBlack: #000;
  --mainWhite: #fefefe;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}



*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var( --mainBlack);
 color:var(--mainWhite);
}

input, button{
  border:none;
  outline:none;
  background: none;
  color:  var( --secondary-color);
  font-size: 1.25rem;
  font-size: 200;
}


li{
  list-style: none;
}

a{
  text-decoration:none;
  color:var( --secondary-color);
}

h1{
color:var(--primary-color);
font-size:40px;
font-weight:500;
text-align:center;

}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color:  var(  --mainWhite);;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--mainBlack);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}

.App{
  max-width: 90%;
  margin: 0 auto;
}

.App-header a{
 z-index:1000;
}
section{
 margin-top:2rem;
}

header{
 display:flex;
 flex-direction: column;
padding: 1rem 0;
}


.list-genres{
  padding: 0 1rem;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 900;
  transform: translateX(-120%);

} 
.list-genres.open{
  transform: translateX(0); 
  background: rgba(0,0,0,0.9);  
}


.list-genres ul{
  margin-top: 3rem;
  list-style: none;
}


.list-genres li{
  width: 100%;
  cursor: pointer;
  padding: .55rem 0;
  font-size: 1.25rem;
}

.searchbox-container{
  background-color: var( --mainWhite);
  display:flex;
  justify-content: space-around;
   
}
.searchbox-container form{
  display:flex;
  width:100%;
}

.searchbox-container form input[type="text"]{
  width:100%;
  border:0;
  font-size:1.5rem;
}
.searchbox-container form > input[type="text"]:focus {
 border-bottom: 1px solid var( --secondary-color);
}

.icon-search{
  font-size: 1.5rem;
  cursor:pointer;
}



/* MOVIE LIST CONTAINER */
.moviesList-container{ 
  grid-column: 2/-1;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(185px, 1fr));
grid-gap:.5rem;
}
.moviesList-container > div{ 
  position:relative;
  margin: 0 auto;
}

.moviesList-container > div h3{
 color:var( --mainWhite);
 font-weight: 200;
}
.moviesList-container > div svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  width: 2rem;
  height: 2.6rem;
  color: rgba(0,0,0,0.9);
 
}

.moviesList-container > div:hover {
  /* background: rgba(0, 0, 0, 0.8); */
  background: var(--primary-color);
}
.moviesList-container > div:hover img{
  opacity: 0.3;
}

.moviesList-container > div .movie-link{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
  color:var( --mainBlack);
  background-color: var(--mainWhite);
}

.moviesList-container > div:hover .movie-link{
  transform: translate(-50%, -50%) scale(1);
}


/* SECTION MOVIE SELECTED */

 
section >.details{
  font-size:1.5rem;
  text-align: justify;
}
section >.details img{
  width:100%;
  margin: 0 auto;
}


section > .title_wrapper {
 color:var( --secondary-color);
 font-size: 1.5rem;
 font-weight: 200;
 
}
section > .title_wrapper svg{
  color:var(--primary-color);
 
}
section > .title_wrapper > div{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem 0;
}
section > .title_wrapper > div > p{
  margin-left: auto;
}
 
.status-message {
  padding: 18px 20px 19px;
  border-top:1px solid var( --secondary-color);
  border-bottom:1px solid var( --secondary-color);
}

.plot_summary_wrapper .plot_summary {
  padding: 18px 20px;
}
 
 .summary_text h4{
 color:var(--primary-color);
}
 .plot_summary_wrapper .plot_summary .summary_text {
  padding-bottom: 16px;
  line-height: 2;
}

.heroic-overview .plot_summary_wrapper .plot_summary .credit_summary_item {
  padding-bottom: 5px;
}
 
/*
 * ====================  TOGGLE BTN MENU SM====================
*/
/* NAVBAR*/
.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  z-index: 1;
}

.toolbar__navigation{
  display: flex;
  align-items:center;
} 

 .toggle-button{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  height: 25px;
  width: 30px;
  background: transparent;
  border: none;
  padding:0;
}
 
.toggle-button__line{
  width: 30px;
  height: 2px;
  background: var( --mainWhite);
  transition: var(--mainTransition);
}

.toolbar_toogle-button{
  position: fixed;
  left: 20px;
  z-index: 1000;
}

/* change shape form of hambuger menu to x for close menu*/
.toggle-button__line.active:nth-child(1){
  opacity:0;
}
.toggle-button__line.active:nth-child(2){
 transform: rotate(45deg);
}
.toggle-button__line.active:nth-child(3){
    transform: rotate(-45deg);
    position: absolute;
    top: 18px;
}
/*
 * ====================  TOGGLE BTN MENU SM====================
*/
 



/*
 * ====================  FOOTER====================
*/
.app-footer{
  background:#f4f4f4;
  text-align:center;
  color:#444;
  padding:10px;
  font-size:14px;
height: 50px;
position:sticky;
}
/*
 * ====================  END FOOTER ====================
*/

/*
 * ==================== MEDIA QUERIES ====================
*/


@media(min-width:768px){

  .toggle-button {
    display: none;
}

  .App{
  display:grid;
    grid-template-columns: 170px 1fr;
  grid-template-rows: 70px auto;
  }


  header{
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    grid-row: 1/-1;
   }

   .list-genres{
    transform: translateX(0);
   }

   section >.details{
    display:flex;
    justify-content: space-around;
  }

  }
  